.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
}


/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
    background-image: linear-gradient(to left, #00fcd1, #5531ff);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    box-shadow: black 5px 10px 10px;
}

.modal-content h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: white;
}

.modal-content p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    background-color: black;
    color: #08f9e2;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to left, #00fcd1, #5531ff);
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}